html body {
  background-image: linear-gradient(180deg, #141e30, #0e243b 50%, #141e30);
  min-height: 100vh;
}

.hamburger-menu-line {
  width: 40px;
  height: 4px;
  padding: 0;
  background-color: #fff;
}

.hamburger-menu-line.top-line,
.hamburger-menu-line.mid-line {
  margin-bottom: 5px;
}

.hamburger-menu:hover .hamburger-menu-line {
  background-color: cyan;
  transition: background-color 0.25s ease-out;
}

.themed-nav-link {
  color: cyan;
  padding: 4px;
  text-decoration: none;
}

.themed-nav-link:hover {
  opacity: 50%;
  color: cyan;
  transition: opacity 0.05s ease-in;
}

h1,
h2,
h3,
h4,
h5,
h6,
hr,
p {
  color: whitesmoke;
}
